<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>

<header>
  <div class="header-container">
    <img id="profile-picture" src="/noProfilePicture.jpg" alt="Profile Picture" class="profile-img" />
    <div>
      <a href="/signout" id="logout-link">Logout</a>
      <a href="/passwordreset" id="logout-link">Change Password</a>
    </div>
  </div>
</header>

{{{body}}}

<footer>
  <p>&copy; 2024 Document AI. All rights reserved.</p>
</footer>
<!-- DOMPurify CDN for client-side sanitation i.e. DOMPurify.sanitize(document.getElementById('username').value.trim().toLowerCase()); -->
<script src="https://cdn.jsdelivr.net/npm/dompurify@2.4.0/dist/purify.min.js"></script>
<script type="module" src="/js/main1.js"></script>
</body>
</html>
