<!--  This file will be used to create the forms for logging in. Provides username and password inputs.   -->

<main>
    <form method="POST" id="loginForm">
        <label>Enter Username and Password
            <input type="text" placeholder="Username" id="username">
            <input type="password" placeholder="Password" id="password">
            <button type="submit">Log in</button>
        </label>
    </form>

</main>