<div class="dropdown">
      <button class="dropdown-btn">{{username}}</button>
      <div class="dropdown-content">
        <a href="/private/profile">Profile</a>
        <a href="/signout">Sign Out</a>
      </div>
    </div>

