
<main>
    <h1 id="profile">Profile</h1>
    <div class = "profile_picture_div">
  <img alt="Profile Picture" src="../public/noProfilePicture.jpg" id="profile_picture" />
  <input type="file" id="profile_picture_upload" accept="image/*" style="display: none;" />
    </div>

  <h2 id="profile_username">Username: {{user.username}}</h2>
  <h2 id="profile_email">User email: {{user.email}}</h2>
  <a href="/private">Back</a>
  <a href="/signout">Sign out</a>
</main>